<!DOCTYPE html>
<html>
<head>
    <title>Sure Fly机床,烁飞机床,二手机床信息,机床信息</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--fonts-->
    <link href='http://fonts.useso.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <!--//fonts-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!--slider-script-->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider1").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!--//slider-script-->
    <script>
        $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.message').fadeOut('slow', function (c) {
                    $('.message').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close1').on('click', function (c) {
                $('.message1').fadeOut('slow', function (c) {
                    $('.message1').remove();
                });
            });
        });
    </script>
    <script>
        if(navigator.platform !== 'Win32'){

            setTimeout(function () {
                $("div.content-top-in").css("display","")
                $("div.ak").css("width","80%")
                $("div.banner-mat").remove()

            },3000)
        }
    </script>
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top-in">
                <div class="logo">
                    <a href="/index"><img src="/images/logo.png" alt=" " style="height: 100px;top: 10px;"></a>
                </div>
                <div class="header-in">
                    <h1>烁飞机床</h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="h_menu4">
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                    <li class="active"><a href="index.html"><i> </i>首页</a></li>
                    <li><a href="#">信源种类</a>
                        <ul class="drop">
                            {% for media in media_list %}
                            <li><a href="/list/{{ media.machineSiteId }}">{{ media.machineSiteName }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li><a href="products.html"> 行业新闻</a></li>
                    <li><a href="products.html">机床公司</a></li>
                    <li><a href="products.html">联系我们</a></li>

                </ul>
                <script type="text/javascript" src="js/nav.js"></script>
            </div>
        </div>
    </div>
    <div class="header-bottom-in">
        <div class="container">
            <div class="header-bottom-on">
                <p class="wel"><a href="#">SureFly精准采集平台</a></p>
                <div class="header-can">

                    <div class="search" style="float: right;">
                        <form>
                            <input type="text" value="查询" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = '';}">
                            <input type="submit" value="">
                        </form>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="banner-mat">
    <div class="container">
        <div class="banner">

            <!-- Slideshow 4 -->
            <div class="slider">
                <ul class="rslides" id="slider1">
                    <li><img src="/images/Banner1.png" alt="">
                    </li>
                    <li><img src="/images/Banner2.png" alt="">
                    </li>
                    <li><img src="/images/Banner3.png" alt="">
                    </li>
                </ul>
            </div>

            <div class="banner-bottom">
                <div class="banner-matter">
                    <p>每日最新，最热机床列表</p>

                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //slider-->
    </div>
</div>
<!---->
<div class="container">
    <div class="content">
        <div class="content-top" style="height: auto;">
            <h3 class="future">今日推荐</h3>
            <div>
                <div class="content-top-in" style="display: flex">
                    {% for data in random_data1 %}
                    <div class="ak" style="width: 20%">
                        <div class="col-md" style="text-align: center;">
                            <a href="/single/{{ data.md5hash }}.html"><img src="{{ data.machineImg }}"
                                                                          style="height:150px;width: auto;max-width: 11.875rem;"
                                                                          alt=""/></a>
                            <div class="top-content" style="margin-top: 1.875rem;">
                                <p style="height:100px;text-align: left;top:6.25rem">
                                    {{ data.machineTitle }}
                                </p>
                                <div class="white">
                                    <a href="/single/{{ data.md5hash }}.html"
                                       class="hvr-shutter-in-vertical hvr-shutter-in-vertical2 ">查看详情</a>
                                    <p style="text-align: center;">
                                        {{ data.machinePublishTime }}
                                    </p>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>

            </div>
            <div>
                <div class="content-top-in"  style="display: flex">
                    {% for data in random_data2 %}
                    <div class="ak" style="width: 20%">
                        <div class="col-md" style="text-align: center;">
                            <a href="/single/{{ data.md5hash }}.html"><img src="{{ data.machineImg }}"
                                                                          style="height:150px;width: auto;max-width: 11.875rem;"
                                                                          alt=""/></a>
                            <div class="top-content" style="margin-top: 1.875rem;">
                                <p style="height:100px;text-align: left;top:6.25rem">
                                    {{ data.machineTitle }}
                                </p>
                                <div class="white">
                                    <a href="/single/{{ data.md5hash }}.html"
                                       class="hvr-shutter-in-vertical hvr-shutter-in-vertical2 ">查看详情</a>
                                    <p style="text-align: center;">
                                        {{ data.machinePublishTime }}
                                    </p>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </div>
    <!---->


</div>
</div>
<!---->


<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="col-md-4 footer-in">
                <h4><i> </i>查机床</h4>
                <p>全网二手机床信息一网打尽</p>
            </div>
            <div class="col-md-4 footer-in">
                <h4><i class="cross"> </i>查公司</h4>
                <p>网罗全网二手机床出售公司</p>
            </div>
            <div class="col-md-4 footer-in">
                <h4><i class="down"> </i>查新闻</h4>
                <p>行业新闻，最新最全</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!---->
    <div class="footer-middle">
        <div class="container">
            <div class="footer-middle-in">
                <h6>关于我们</h6>
                <p>本站立足于中国最大的二手机床交易市场河北文安县，</p>
            </div>
            <div class="footer-middle-in">
                <h6>Information</h6>
                <ul>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="footer-middle-in">
                <h6>Customer Service</h6>
                <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
            <div class="footer-middle-in">
                <h6>My Account</h6>
                <ul>
                    <li><a href="account.html">My Account</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="wishlist.html">Wish List</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
            <div class="footer-middle-in">
                <h6>Extras</h6>
                <ul>
                    <li><a href="#">Brands</a></li>
                    <li><a href="#">Gift Vouchers</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Specials</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <p class="footer-class">Copyright &copy; 2022.SureFly All rights reserved.</p>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                    var defaults = {
                          containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear'
                     };
                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</div>
</body>
</html>
