<!DOCTYPE html>
<html>
<head>
    <title>Sure Fly机床,烁飞机床,二手机床信息,机床信息</title>
    <link href="{{ prefix }}css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ prefix }}js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="{{ prefix }}css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--fonts-->

    <!--//fonts-->
    <script type="text/javascript" src="{{ prefix }}js/move-top.js"></script>
    <script type="text/javascript" src="{{ prefix }}js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!--slider-script-->
    <script src="{{ prefix }}js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider1").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!--//slider-script-->
    <script>
        $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.message').fadeOut('slow', function (c) {
                    $('.message').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close1').on('click', function (c) {
                $('.message1').fadeOut('slow', function (c) {
                    $('.message1').remove();
                });
            });
        });
    </script>
    <link href="{{ prefix }}css/machineList.css" rel="stylesheet" type="text/css" media="all"/>

    <script>

        machineSiteId = '{{ machineSiteId }}'
        $.post(
            "/list/mediaMap", {
                "machineSiteId": machineSiteId
            }, function (res) {
                machineDict = JSON.parse(res)
                initClassOne();
            }
        )
        levelOne = ""
        levelTwo = ""
        levelThree = ""


    </script>
    <script>
        // 创建三级目录
        function showDetails(t1, t2, t3) {
            var machineType1 = t1
            var machineType2 = t2
            var machineType3 = t3
            if (machineType1 && !machineType2) {
                levelOne = machineType1
                levelTwo = ""
                levelThree = ""
                // var level1 = document.getElementById('level1') //目录第一级
                var level2 = document.getElementById('level2') //目录第二级
                var level3 = document.getElementById('level3') //目录第三级
                machineDict.forEach(function (item, index) {
                    if (item["levelName"] === levelOne) {
                        while (1) {
                            try {
                                level2.removeChild(level2.childNodes[0])
                            } catch (e) {
                                break
                            }
                        }
                        while (1) {
                            try {
                                level3.removeChild(level3.childNodes[0])
                            } catch (e) {
                                break
                            }
                        }
                        if (item.child != false) {
                            item['child'].forEach(function (item, index) {
                                var newNode = document.createElement("button")
                                newNode.innerHTML = item["levelName"]
                                var _ = item["levelName"]
                                newNode.onclick = function () {
                                    showDetails(t1 = t1, t2 = _)
                                    var nodes = document.getElementById('level2').childNodes
                                    nodes.forEach(function (item, index) {
                                        try {
                                            item.style.backgroundColor = "white"
                                            item.style.color = "grey"
                                        } catch (e) {
                                            //TODO handle the exception
                                        }

                                    })
                                    newNode.style.backgroundColor = "#fb5e33"
                                    newNode.style.color = "white"
                                }
                                newNode.setAttribute("class", "machineClass")

                                level2.appendChild(newNode)
                            })
                        } else {
                            sendMsg(t1 = levelOne)
                        }

                    }
                })

                document.getElementById('level2').removeAttribute("hidden")

            }
            if (machineType1 && machineType2 && !machineType3) {
                levelTwo = machineType2
                levelThree = ""
                var level3 = document.getElementById('level3')
                machineDict.forEach(function (item, index) {
                    if (item.levelName === levelOne) {
                        item.child.forEach(function (item, index) {

                            if (item["levelName"] === levelTwo) {
                                while (1) {
                                    try {
                                        level3.removeChild(level3.childNodes[0])
                                    } catch (e) {
                                        break
                                    }
                                }
                                ;
                                if (item.child != false) {
                                    item['child'].forEach(function (item, index) {
                                        var newNode = document.createElement("button")
                                        newNode.innerText = item["levelName"]
                                        newNode.setAttribute("class", "machineClass")
                                        newNode.onclick = function () {
                                            showDetails(t1 = levelOne, t2 = levelTwo, t3 = item["levelName"])
                                            var nodes = document.getElementById('level3').childNodes
                                            nodes.forEach(function (item, index) {
                                                try {
                                                    item.style.backgroundColor = "white"
                                                    item.style.color = "grey"
                                                } catch (e) {
                                                    //TODO handle the exception
                                                }

                                            })
                                            newNode.style.backgroundColor = "#fb5e33"
                                            newNode.style.color = "white"
                                        }
                                        level3.appendChild(newNode)
                                    })
                                } else {
                                    sendMsg(t1 = levelOne, t2 = levelTwo)
                                }

                            }
                        })
                    }
                })

                document.getElementById('level3').removeAttribute("hidden")


            }

            if (machineType1 && machineType2 && machineType3) {
                levelThree = machineType3
                var level3 = document.getElementById('level3')
                level3.childNodes.forEach(function (item, index) {
                    if (item.innerText === levelThree) {
                        try {
                            item.style.backgroundColor = "#fb5e33"
                            item.style.color = "white"
                        } catch (e) {
                            //TODO handle the exception
                        }
                    } else {
                        try {

                            item.style.backgroundColor = "white"
                            item.style.color = "grey"

                        } catch (e) {
                            //TODO handle the exception
                        }
                    }
                })
                sendMsg(t1 = levelOne, t2 = levelTwo, t3 = machineType3)
            }


        }

        // 获取翻页
        function sendMsg(t1, t2, t3) {
            $.post("/select_list", {
                    "levelClassOne": t1,
                    "levelClassTwo": t2,
                    "levelClassThree": t3,
                    "machineSiteId": machineSiteId
                }, function (result) {
                    var resultNode = document.getElementById(
                        "resultList"
                    )
                    resultNode.innerHTML = result
                }
            )
        }

        // 初始化一级目录
        function initClassOne() {

            var level1 = document.getElementById("level1")
            machineDict.forEach(function (item, index) {
                let newNode = document.createElement("button")
                newNode.innerText = item.levelName
                newNode.setAttribute("onclick", "showDetails(t1=" + "'" + item.levelName + "'" + ")")
                newNode.onclick = function () {
                    showDetails(t1 = item.levelName)
                    var nodes = document.getElementById('level1').childNodes
                    nodes.forEach(function (item, index) {
                        try {
                            item.style.backgroundColor = "white"
                            item.style.color = "grey"
                        } catch (e) {
                            //TODO handle the exception
                        }

                    })
                    newNode.style.backgroundColor = "#fb5e33"
                    newNode.style.color = "white"

                }
                newNode.setAttribute("class", "machineClass")
                level1.appendChild(newNode)
            })

        }
        setInterval(function () {
            if(navigator.platform !== 'Win32'){
                $("div.content-top-in").css("display","")
                $("div.col-md-3.md-col").css("width","80%")            }
        },1000)

    </script>
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top-in">
                <div class="logo">
                    <a href="index.html"><img src="{{prefix}}images/logo.png" alt=" " style="height: 100px;top: 10px;"></a>
                </div>
                <div class="header-in">
                    <h1>烁飞机床</h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="h_menu4">
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                    <li class="active"><a href="{{prefix}}index"><i> </i>首页</a></li>
                    <li><a href="#">信源种类</a>
                        <ul class="drop">
                            {% for media in media_list %}
                            <li><a href="/list/{{ media.machineSiteId }}/p1">{{ media.machineSiteName }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li><a href="products.html"> 行业新闻</a></li>
                    <li><a href="products.html">机床公司</a></li>
                    <li><a href="products.html">联系我们</a></li>

                </ul>
                <script type="text/javascript" src="{{ prefix }}js/nav.js"></script>
            </div>
        </div>
    </div>
    <div class="header-bottom-in">
        <div class="container">
            <div class="header-bottom-on">
                <p class="wel"><a href="#">SureFly精准采集平台</a></p>
                <div class="header-can">

                    <div class="search" style="float: right;">
                        <form>
                            <input type="text" value="查询" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = '';}">
                            <input type="submit" value="">
                        </form>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="leveldiv">
    </div>

    <div class="leveldiv">
        <span class="span-classfiy">一级分类</span>
        <div id="level1" class="level">

        </div>
    </div>

    <div class="leveldiv">
        <span class="span-classfiy">二级分类</span>
        <div id="level2" class="level" hidden="hidden">


        </div>
    </div>

    <div class="leveldiv">
        <span class="span-classfiy">三级分类</span>
        <div id="level3" class="level" hidden="hidden">


        </div>

    </div>
</div>
<div class="container">
    <div class="content">
        <div class="content-top" id="resultList" style="height: auto;">
            <h3 class="future">搜索结果</h3>

        </div>
    </div>
    <!---->


</div>
</div>
<!---->


<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="col-md-4 footer-in">
                <h4><i> </i>查机床</h4>
                <p>全网二手机床信息一网打尽</p>
            </div>
            <div class="col-md-4 footer-in">
                <h4><i class="cross"> </i>查公司</h4>
                <p>网罗全网二手机床出售公司</p>
            </div>
            <div class="col-md-4 footer-in">
                <h4><i class="down"> </i>查新闻</h4>
                <p>行业新闻，最新最全</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!---->
    <div class="footer-middle">
        <div class="container">
            <div class="footer-middle-in">
                <h6>关于我们</h6>
                <p>本站立足于中国最大的二手机床交易市场河北文安县，</p>
            </div>
            <div class="footer-middle-in">
                <h6>Information</h6>
                <ul>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="footer-middle-in">
                <h6>Customer Service</h6>
                <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
            <div class="footer-middle-in">
                <h6>My Account</h6>
                <ul>
                    <li><a href="account.html">My Account</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="wishlist.html">Wish List</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
            <div class="footer-middle-in">
                <h6>Extras</h6>
                <ul>
                    <li><a href="#">Brands</a></li>
                    <li><a href="#">Gift Vouchers</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Specials</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <p class="footer-class">Copyright &copy; 2022.SureFly All rights reserved.</p>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                    var defaults = {
                          containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear'
                     };
                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</div>
</body>
</html>
