<!DOCTYPE html>
<html lang="cn">
<head>
    <title>【{{ news_page.machineTitle }}】 Sure Fly机床,烁飞机床,二手机床信息,机床信息</title>
    <link href="{{ prefix }}css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ prefix }}js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="{{ prefix }}css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ prefix }}css/news_page.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--fonts-->
    <link href='http://fonts.useso.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <!--//fonts-->
    <script type="text/javascript" src="{{ prefix }}js/move-top.js"></script>
    <script type="text/javascript" src="{{ prefix }}js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!--slider-script-->
    <script src="{{ prefix }}js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider1").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!--//slider-script-->
    <script>
        $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.message').fadeOut('slow', function (c) {
                    $('.message').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close1').on('click', function (c) {
                $('.message1').fadeOut('slow', function (c) {
                    $('.message1').remove();
                });
            });
        });
    </script>
    <script>
        setInterval(function () {
            if (navigator.platform !== 'Win32') {
                $('div.col-md-4.md-col').css("width", "80%")

            }
        })
    </script>
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top-in">
                <div class="logo">
                    <a href="{{prefix}}index"><img src="{{prefix}}images/logo.png" alt=" "
                                                   style="height: 100px;top: 10px;"></a>
                </div>
                <div class="header-in">
                    <h1>烁飞机床</h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="h_menu4">
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                    <li class="active"><a href="/index"><i> </i>首页</a></li>
                    <li><a href="#">信源种类</a>
                        <ul class="drop">
                            {% for media in media_list %}
                            <li><a href="/list/{{ media.machineSiteId }}">{{ media.machineSiteName }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li><a href="{{prefix}}select_news_list"> 行业新闻</a></li>
                    <li><a href="#">机床公司</a></li>
                    <li><a href="#">联系我们</a></li>

                </ul>
                <script type="text/javascript" src="{{ prefix }}js/nav.js"></script>
            </div>
        </div>
    </div>
    <div class="header-bottom-in">
        <div class="container">
            <div class="header-bottom-on">
                <p class="wel"><a href="#">SureFly精准采集平台</a></p>
                <div class="header-can">

                    <div class="search" style="float: right;">
                        <form>
                            <input type="text" value="查询" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = '';}">
                            <input type="submit" value="">
                        </form>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="banner-mat">
    <div class="container">
        <div class="banner">

            <!-- Slideshow 4 -->
            <div class="slider">
                <ul class="rslides" id="slider1">
                    <li><img src="{{prefix}}images/Banner1.png" alt="">
                    </li>
                    <li><img src="{{prefix}}images/Banner2.png" alt="">
                    </li>
                    <li><img src="{{prefix}}images/Banner3.png" alt="">
                    </li>
                </ul>
            </div>

            <div class="banner-bottom">
                <div class="banner-matter">
                    <p>每日最新，最热机床列表</p>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //slider-->
    </div>
</div>
<div class="container">
    <div class="single">
        <div class="col-md-9 top-in-single">
            <div class="new-head">

                <div class="new-head header">
                    <div style="margin-bottom: 60px;">
                        <p style="font-size: 50px;">“</p>
                        <h1>{{ news_page.machineTitle }}</h1>
                        <p style="font-size: 50px;float: right;">”</p>
                    </div>


                    <span style="font-size: 14px;color:grey;margin-left: 20px;display: flex;">
								<p>作者：</p>
								<p style="color:red">{{ news_page.machineAuthor }}</p>
							</span>

                    <span style="font-size: 14px;color:grey;margin-left: 20px;display: flex;">
								<p>来源：</p>
								<p style="color:red">{{ news_page.machineRealSource }}</p>
							</span>

                    <span style="font-size: 14px;color:grey;margin-left: 20px;display: flex;">
								<p>发布时间：</p>
								<p style="color:red">{{ news_page.machinePublishTime }}</p>
							</span>

                </div>

            </div>



            <div class="available" style="width: 80%;margin-top: 10%">
                <div style="text-align: center">
                                    <img style="text-align: center" src="{{ news_page.machineImg }}">

                </div>
                {% for content in news_page.machineContent %}
                <p style="text-indent:28px;font-size: 14px;color: #333;padding: 0rem;margin: 30px">
                    {{ content }}
                </p>
                {% endfor %}
            </div>

            <div class="clearfix"></div>


        </div>
    </div>
    <div class="col-md-3">

        <div class="single-bottom">
            <h4>行业快讯</h4>
            {% for news in news_list %}
            <div class="product">
                <img class="img-responsive fashion" src="{{ news.machineImg }}" alt="">
                <div>
                    <a href="{{prefix}}news_single/{{ news.md5hash }}" class="elit"><b>{{ news.machineTitle }}</b></a>
                    <span class="price price-in"
                          style="font-size: 14px;float: right">{{ news.machinePublishTime }}</span>
                </div>
                <div class="clearfix"></div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<!---->
<div class="footer">

    <p class="footer-class">Copyright &copy; 2022.SureFly All rights reserved. 备案号：<a href="https://beian.miit.gov.cn">浙ICP备2020038943号-1</a></p>

    <script type="text/javascript">
        $(document).ready(function () {
            /*
                    var defaults = {
                          containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear'
                     };
                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</div>
</body>
</html>
