<!DOCTYPE html>
<html>
<head>
    <title>供应二手进口数控车铣复合加工中心 东芝数控双工位车铣复合加工中心TMD-20</title>
    <link href="{{ prefix }}css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ prefix }}js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="{{ prefix }}css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--fonts-->
    <link href='http://fonts.useso.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <!--//fonts-->
    <script type="text/javascript" src="{{ prefix }}js/move-top.js"></script>
    <script type="text/javascript" src="{{ prefix }}js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!--slider-script-->
    <script src="{{ prefix }}js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider1").responsiveSlides({
                auto: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!--//slider-script-->
    <script>
        $(document).ready(function (c) {
            $('.alert-close').on('click', function (c) {
                $('.message').fadeOut('slow', function (c) {
                    $('.message').remove();
                });
            });
        });
    </script>
    <script>
        $(document).ready(function (c) {
            $('.alert-close1').on('click', function (c) {
                $('.message1').fadeOut('slow', function (c) {
                    $('.message1').remove();
                });
            });
        });
    </script>
</head>
<body>
<!--header-->
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top-in">
                <div class="logo">
                    <a href="index.html"><img src="{{ prefix }}images/logo.png" alt=" "
                                              style="height: 100px;top: 10px;"></a>
                </div>
                <div class="header-in">
                    <h1>烁飞机床</h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="h_menu4">
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                    <li class="active"><a href="{{ prefix }}index"><i> </i>首页</a></li>
                    <li><a href="#">信源种类</a>
                        <ul class="drop">
                            {% for media in media_list %}
                            <li><a href="/list/{{ media.machineSiteId }}/p1">{{ media.machineSiteName }}</a></li>
                            {% endfor %}

                        </ul>
                    </li>
                    <li><a href="products.html"> 行业新闻</a></li>
                    <li><a href="products.html">机床公司</a></li>
                    <li><a href="products.html">联系我们</a></li>

                </ul>
                <script type="text/javascript" src="{{ prefix }}js/nav.js"></script>
            </div>
        </div>
    </div>
    <div class="header-bottom-in">
        <div class="container">
            <div class="header-bottom-on">
                <p class="wel"><a href="#">SureFly精准采集平台</a></p>
                <div class="header-can">

                    <div class="search" style="float: right;">
                        <form>
                            <input type="text" value="查询" onfocus="this.value = '';"
                                   onblur="if (this.value == '') {this.value = '';}">
                            <input type="submit" value="">
                        </form>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="banner-mat">
    <div class="container">
        <div class="banner">

            <!-- Slideshow 4 -->
            <div class="slider">
                <ul class="rslides" id="slider1">
                    <li><img src="{{ prefix }}images/banner1.png" alt="">
                    </li>
                    <li><img src="{{ prefix }}images/banner2.png" alt="">
                    </li>
                    <li><img src="{{ prefix }}images/banner3.png" alt="">
                    </li>
                </ul>
            </div>

            <div class="banner-bottom">
                <div class="banner-matter">
                    <p>每日最新，最热机床列表</p>
                    <a href="single.html" class="hvr-shutter-in-vertical ">查看详情</a>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //slider-->
    </div>
</div>
<div class="container">
    <div class="single">
        <div class="col-md-9 top-in-single">
            <div class="col-md-5 single-top">
                <!-- start product_slider -->
                <div class="flexslider">
                    <!-- FlexSlider -->
                    <script src="{{ prefix }}js/imagezoom.js"></script>
                    <script defer src="{{ prefix }}js/jquery.flexslider.js"></script>
                    <link rel="stylesheet" href="{{ prefix }}css/flexslider.css" type="text/css" media="screen"/>

                    <script>
                        // Can also be used with $(document).ready()
                        $(window).load(function () {
                            $('.flexslider').flexslider({
                                animation: "slide",
                                controlNav: "thumbnails"
                            });
                        });
                    </script>
                    <!-- //FlexSlider-->

                    <ul class="slides">
                        {% for img in imgList %}
                        <li data-thumb="{{ img }}">
                            <div class="thumb-image"><img src="{{ img }}"
                                                          data-imagezoom="true" class="img-responsive"></div>
                        </li>
                        {% endfor %}

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- end product_slider -->

            </div>
            <div class="col-md-7 single-top-in">
                <div class="single-para">
                    <h4>{{ machine_data.machineTitle }}</h4>
                    <div class="para-grid">
                        <span class="add-to">{{ machine_data.machinePrice }}</span>
                        <div class="clearfix"></div>
                    </div>
                    <h5>数据嗅探时间:{{ machine_data.machineInsertTime }}</h5>
                    <div class="available">
                        {% for key,value in dataDict.items() %}
                        {% if key== "联系方式" %}
                        <p style="	font-size: 14px;color: #333;padding: 0rem;">{{ key }}：<span><b
                                style="color:orangered">{{ value }}</b></span></p>

                        {% else %}
                        <p style="	font-size: 14px;color: #333;padding: 0rem;">{{ key }}：<span>{{ value }}</span></p>

                        {% endif %}
                        {% endfor %}
                    </div>
                    <p>{{ machineInfo }}</p>


                </div>
            </div>
            <div class="clearfix"></div>
            <h3 class="future">该联系人下其他产品代售</h3>

            <div class="content-top-in">
                {% for data in relation_data %}
                <div class="col-md-4 md-col" style="width:25%;background: white">
                    <div class="col-md" style="text-align: center;background: white">
                        <a href="/single/{{ data.md5hash }}.html"><img src="{{ data.machineImg }}"
                                                                       style="height:150px;width: auto;max-width: 11.875rem;"
                                                                       alt=""/></a>
                        <div class="top-content" style="margin-top: 1.5rem;">
                            <p style="height:100px;text-align: center;top:6.25rem">
                                <b>{{ data.machineTitle }}</b>
                            </p>
                            <a href="/single/{{ data.md5hash }}.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2" style="width: 60%;float: top" >查看详情</a>

                            <div class="white">


                                <p style="color: #999;font-size:14px">
                                    <b>{{ data.machinePublishTime }}</b>
                                </p>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}


                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="single-bottom">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#"><i> </i>Fusce feugiat</a></li>
                    <li><a href="#"><i> </i>Mascot Kitty</a></li>
                    <li><a href="#"><i> </i>Fusce feugiat</a></li>
                    <li><a href="#"><i> </i>Mascot Kitty</a></li>
                    <li><a href="#"><i> </i>Fusce feugiat</a></li>
                </ul>
            </div>
            <div class="single-bottom">
                <h4>Product Categories</h4>
                <ul>
                    <li><a href="#"><i> </i>feugiat(5)</a></li>
                    <li><a href="#"><i> </i>Fusce (4)</a></li>
                    <li><a href="#"><i> </i> feugiat (4)</a></li>
                    <li><a href="#"><i> </i>Fusce (4)</a></li>
                    <li><a href="#"><i> </i> feugiat(2)</a></li>
                </ul>
            </div>
            <div class="single-bottom">
                <h4>Product Categories</h4>
                <div class="product">
                    <img class="img-responsive fashion" src="{{ prefix }}images/st1.jpg" alt="">
                    <div class="grid-product">
                        <a href="#" class="elit">Consectetuer adipiscing elit</a>
                        <span class="price price-in"><small>$500.00</small> $400.00</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product">
                    <img class="img-responsive fashion" src="{{ prefix }}images/st2.jpg" alt="">
                    <div class="grid-product">
                        <a href="#" class="elit">Consectetuer adipiscing elit</a>
                        <span class="price price-in"><small>$500.00</small> $400.00</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="product">
                    <img class="img-responsive fashion" src="{{ prefix }}images/st3.jpg" alt="">
                    <div class="grid-product">
                        <a href="#" class="elit">Consectetuer adipiscing elit</a>
                        <span class="price price-in"><small>$500.00</small> $400.00</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!---->
<div class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="col-md-4 footer-in">
                <h4><i> </i>Suspendisse sed</h4>
                <p>Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam.
                    Lorem ipsum
                    dolor sit amet, consectetur.</p>
            </div>
            <div class="col-md-4 footer-in">
                <h4><i class="cross"> </i>Suspendisse sed</h4>
                <p>Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam.
                    Lorem ipsum
                    dolor sit amet, consectetur.</p>
            </div>
            <div class="col-md-4 footer-in">
                <h4><i class="down"> </i>Suspendisse sed</h4>
                <p>Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam.
                    Lorem ipsum
                    dolor sit amet, consectetur.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!---->
    <div class="footer-middle">
        <div class="container">
            <div class="footer-middle-in">
                <h6>About us</h6>
                <p>Suspendisse sed accumsan risus. Curabitur rhoncus, elit vel tincidunt elementum, nunc urna tristique
                    nisi, in
                    interdum libero magna tristique ante. adipiscing varius. Vestibulum dolor lorem.</p>
            </div>
            <div class="footer-middle-in">
                <h6>Information</h6>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="footer-middle-in">
                <h6>Customer Service</h6>
                <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>
            <div class="footer-middle-in">
                <h6>My Account</h6>
                <ul>
                    <li><a href="account.html">My Account</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="wishlist.html">Wish List</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
            <div class="footer-middle-in">
                <h6>Extras</h6>
                <ul>
                    <li><a href="#">Brands</a></li>
                    <li><a href="#">Gift Vouchers</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Specials</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <p class="footer-class">Copyright &copy; 2015.Company name All rights reserved.<a target="_blank"
                                                                                      href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
    </p>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                    var defaults = {
                          containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear'
                     };
                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</div>
</body>
</html>
