<!DOCTYPE html>
<html>
	<head>
		<title>供应二手进口数控车铣复合加工中心 东芝数控双工位车铣复合加工中心TMD-20</title>
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.min.js"></script>
		<!-- Custom Theme files -->
		<!--theme-style-->
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!--//theme-style-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!--fonts-->
		<link href='http://fonts.useso.com/css?family=Exo:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<!--//fonts-->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<!--slider-script-->
		<script src="js/responsiveslides.min.js"></script>
		<script>
			$(function() {
				$("#slider1").responsiveSlides({
					auto: true,
					speed: 500,
					namespace: "callbacks",
					pager: true,
				});
			});
		</script>
		<!--//slider-script-->
		<script>
			$(document).ready(function(c) {
				$('.alert-close').on('click', function(c) {
					$('.message').fadeOut('slow', function(c) {
						$('.message').remove();
					});
				});
			});
		</script>
		<script>
			$(document).ready(function(c) {
				$('.alert-close1').on('click', function(c) {
					$('.message1').fadeOut('slow', function(c) {
						$('.message1').remove();
					});
				});
			});
		</script>
	</head>
	<body>
		<!--header-->
		<div class="header">
			<div class="header-top">
				<div class="container">
					<div class="header-top-in">
						<div class="logo">
							<a href="index.html"><img src="images/logo.png" alt=" " style="height: 100px;top: 10px;"></a>
						</div>
						<div class="header-in">
							<h1>烁飞机床</h1>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="header-bottom">
				<div class="container">
					<div class="h_menu4">
						<a class="toggleMenu" href="#">Menu</a>
						<ul class="nav">
							<li class="active"><a href="index.html"><i> </i>首页</a></li>
							<li><a href="#">信源种类</a>
								<ul class="drop">
									<li><a href="products.html">JC35</a></li>
									<li><a href="products.html">Machine35(4)</a></li>
									<li><a href="products.html">Apple(7)</a></li>
									<li><a href="products.html">Acer(53)</a></li>
									<li><a href="products.html">HP(78)</a></li>
									<li><a href="products.html">Intel(5)</a></li>
								</ul>
							</li>
							<li><a href="products.html"> 行业新闻</a></li>
							<li><a href="products.html">机床公司</a></li>
							<li><a href="products.html">联系我们</a></li>

						</ul>
						<script type="text/javascript" src="js/nav.js"></script>
					</div>
				</div>
			</div>
			<div class="header-bottom-in">
				<div class="container">
					<div class="header-bottom-on">
						<p class="wel"><a href="#">SureFly精准采集平台</a></p>
						<div class="header-can">

							<div class="search" style="float: right;">
								<form>
									<input type="text" value="查询" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
									<input type="submit" value="">
								</form>
							</div>

							<div class="clearfix"> </div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="banner-mat">
			<div class="container">
				<div class="banner">

					<!-- Slideshow 4 -->
					<div class="slider">
						<ul class="rslides" id="slider1">
							<li><img src="images/banner1.png" alt="">
							</li>
							<li><img src="images/banner2.png" alt="">
							</li>
							<li><img src="images/banner3.png" alt="">
							</li>
						</ul>
					</div>

					<div class="banner-bottom">
						<div class="banner-matter">
							<p>每日最新，最热机床列表</p>
							<a href="single.html" class="hvr-shutter-in-vertical ">查看详情</a>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //slider-->
			</div>
		</div>
		<div class="container">
			<div class="single">
				<div class="col-md-9 top-in-single">
					<div class="col-md-5 single-top">
						<!-- start product_slider -->
						<div class="flexslider">
							<!-- FlexSlider -->
							<script src="js/imagezoom.js"></script>
							<script defer src="js/jquery.flexslider.js"></script>
							<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

							<script>
								// Can also be used with $(document).ready()
								$(window).load(function() {
									$('.flexslider').flexslider({
										animation: "slide",
										controlNav: "thumbnails"
									});
								});
							</script>
							<!-- //FlexSlider-->

							<ul class="slides">
								<li data-thumb="http://image.machine35.com/previewimage/91045/202235103962.jpg">
									<div class="thumb-image"> <img src="http://image.machine35.com/previewimage/91045/202235103962.jpg"
										 data-imagezoom="true" class="img-responsive"> </div>
								</li>
								<li data-thumb="http://image.machine35.com/previewimage/70147/20199583049.jpg">
									<div class="thumb-image">
										<img src="http://image.machine35.com/previewimage/70147/20199583049.jpg" data-imagezoom="true" class="img-responsive">
									</div>
								</li>

							</ul>
							<div class="clearfix"></div>
						</div>
						<!-- end product_slider -->

					</div>
					<div class="col-md-7 single-top-in">
						<div class="single-para">
							<h4>供应二手进口数控车铣复合加工中心 东芝数控双工位车铣复合加工中心TMD-20</h4>
							<div class="para-grid">
								<span class="add-to">面议</span>
								<div class="clearfix"></div>
							</div>
							<h5>本条数据在有效期内</h5>
							<div class="available">
								<p style="	font-size: 14px;color: #333;padding: 0rem;">品牌：<span style="color: #999;">日新</span></p>
								<p style="	font-size: 14px;color: #333;padding: 0rem;">状态：<span style="color: #999;">展示中</span></p>
								<p style="	font-size: 14px;color: #333;padding: 0rem;">所在地：<span style="color: #999;">长春</span></p>
								<p style="	font-size: 14px;color: #333;padding: 0rem;">产品成色：<span style="color: #999;">八成新</span></p>
								<p style="	font-size: 14px;color: #333;padding: 0rem;">联系人：<span style="color: #999;">孟放</span></p>
								<p style="	font-size: 14px;color: #333;padding: 0rem;">联系方式：<span style="color: #999;">18855522351</span></p>
								
							</div>
							<p>出售35*3米液压上辊万能卷板机

卷板机是对板材进行连续点弯曲的塑形机床，具有卷制O型、U型、多段R等不同形状板材的功能。工作原理：对称式卷板机上辊在两下辊中央对称位置通过液压缸内的液压 油作用于活塞作垂直升降运动，通过主减速机的末级齿轮带动两下辊齿轮 啮合作旋转运动，为卷制板材提供扭矩。卷板机规格平整的塑性金属板通过卷板机的三根工作辊(二根下辊、一根上辊)之间，借助上辊的下压及下辊的旋转运动，使金属板经过多道次连续弯曲（内层压缩变形，中层不变，外层拉伸变形），产生塑性变形，卷制成所需要的圆筒、锥筒或它们的一部分。该 液压式三辊卷板机缺点是板材端部需借助其它设备进行预弯。该卷板机适用于卷板厚度在 50mm以上的大型卷板机，两下辊下部增加了一排固定托辊，缩短两下辊跨距，从而提高卷制工件精度及机器整体性能。</p>


						</div>
					</div>
					<div class="clearfix"> </div>
					<div class="content-top-in">
						<div class="col-md-4 top-single">
							<div class="col-md">
								<img src="images/pic8.jpg" alt="" />
								<div class="top-content">
									<h5>Mascot Kitty - White</h5>
									<div class="white">
										<a href="#" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
										<p class="dollar"><span class="in-dollar">$</span><span>2</span><span>0</span></p>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 top-single">
							<div class="col-md">
								<img src="images/pic9.jpg" alt="" />
								<div class="top-content">
									<h5>Mascot Kitty - White</h5>
									<div class="white">
										<a href="#" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
										<p class="dollar"><span class="in-dollar">$</span><span>2</span><span>0</span></p>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 top-single-in">
							<div class="col-md">
								<img src="images/pic10.jpg" alt="" />
								<div class="top-content">
									<h5>Mascot Kitty - White</h5>
									<div class="white">
										<a href="#" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
										<p class="dollar"><span class="in-dollar">$</span><span>2</span><span>0</span></p>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="single-bottom">
						<h4>Categories</h4>
						<ul>
							<li><a href="#"><i> </i>Fusce feugiat</a></li>
							<li><a href="#"><i> </i>Mascot Kitty</a></li>
							<li><a href="#"><i> </i>Fusce feugiat</a></li>
							<li><a href="#"><i> </i>Mascot Kitty</a></li>
							<li><a href="#"><i> </i>Fusce feugiat</a></li>
						</ul>
					</div>
					<div class="single-bottom">
						<h4>Product Categories</h4>
						<ul>
							<li><a href="#"><i> </i>feugiat(5)</a></li>
							<li><a href="#"><i> </i>Fusce (4)</a></li>
							<li><a href="#"><i> </i> feugiat (4)</a></li>
							<li><a href="#"><i> </i>Fusce (4)</a></li>
							<li><a href="#"><i> </i> feugiat(2)</a></li>
						</ul>
					</div>
					<div class="single-bottom">
						<h4>Product Categories</h4>
						<div class="product">
							<img class="img-responsive fashion" src="images/st1.jpg" alt="">
							<div class="grid-product">
								<a href="#" class="elit">Consectetuer adipiscing elit</a>
								<span class="price price-in"><small>$500.00</small> $400.00</span>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="product">
							<img class="img-responsive fashion" src="images/st2.jpg" alt="">
							<div class="grid-product">
								<a href="#" class="elit">Consectetuer adipiscing elit</a>
								<span class="price price-in"><small>$500.00</small> $400.00</span>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="product">
							<img class="img-responsive fashion" src="images/st3.jpg" alt="">
							<div class="grid-product">
								<a href="#" class="elit">Consectetuer adipiscing elit</a>
								<span class="price price-in"><small>$500.00</small> $400.00</span>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!---->
		<div class="footer">
			<div class="footer-top">
				<div class="container">
					<div class="col-md-4 footer-in">
						<h4><i> </i>Suspendisse sed</h4>
						<p>Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum
							dolor sit amet, consectetur.</p>
					</div>
					<div class="col-md-4 footer-in">
						<h4><i class="cross"> </i>Suspendisse sed</h4>
						<p>Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum
							dolor sit amet, consectetur.</p>
					</div>
					<div class="col-md-4 footer-in">
						<h4><i class="down"> </i>Suspendisse sed</h4>
						<p>Aliquam dignissim porttitor tortor non fermentum. Curabitur in magna lectus. Duis sed eros diam. Lorem ipsum
							dolor sit amet, consectetur.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<!---->
			<div class="footer-middle">
				<div class="container">
					<div class="footer-middle-in">
						<h6>About us</h6>
						<p>Suspendisse sed accumsan risus. Curabitur rhoncus, elit vel tincidunt elementum, nunc urna tristique nisi, in
							interdum libero magna tristique ante. adipiscing varius. Vestibulum dolor lorem.</p>
					</div>
					<div class="footer-middle-in">
						<h6>Information</h6>
						<ul>
							<li><a href="#">About Us</a></li>
							<li><a href="#">Delivery Information</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms & Conditions</a></li>
						</ul>
					</div>
					<div class="footer-middle-in">
						<h6>Customer Service</h6>
						<ul>
							<li><a href="contact.html">Contact Us</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Site Map</a></li>
						</ul>
					</div>
					<div class="footer-middle-in">
						<h6>My Account</h6>
						<ul>
							<li><a href="account.html">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="wishlist.html">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="footer-middle-in">
						<h6>Extras</h6>
						<ul>
							<li><a href="#">Brands</a></li>
							<li><a href="#">Gift Vouchers</a></li>
							<li><a href="#">Affiliates</a></li>
							<li><a href="#">Specials</a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<p class="footer-class">Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
			<script type="text/javascript">
				$(document).ready(function() {
					/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/

					$().UItoTop({
						easingType: 'easeOutQuart'
					});

				});
			</script>
			<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

		</div>
	</body>
</html>
